*, *:before, *:after {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}

body {
    background: #fafafa;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    background: lightblue;
}

#app-promo {
    position:absolute;
    top:-300px;
    width:100%;
    height:300px;
    background-color:#12315f; /* TODO: change this color value to the official one */
    z-index:100;
    color:#fff;
}

#app-promo .content-container {
    position:relative;
    height:300px;
}

#app-promo .flightapps {
    display:inline-block;
    position:absolute;
    bottom:-30px;
    left:0;
    height:30px;
    line-height:30px;
    color:#12315f; /* TODO: change this color value to the official one */
}

.log {
    position: fixed;
    bottom: 0;
    padding: 10px;
    border: 1px solid #666;
    width: 100%;
    border-radius: 5px;
}

#app-promo .flightapps {
    font-weight: bold;
    transition-property: background-color, color;
    transition-duration: 0.5s; 
}
#app-promo .flightapps:hover {
      background-color: #12315f;
      color: #fff; 
}

.appButtonSelected {
    background-color: #12315f;
    color: #fff !important; 
}
